
NEXT_PUBLIC_SUPABASE_URL=https://aqigjepaomgykibkiklz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxaWdqZXBhb21neWtpYmtpa2x6Iiwicm9zZSI6ImFub24iLCJpYXQiOjE3NDMxNTgzOTQsImV4cCI6MjA1ODczNDM5NH0.4oaGLwR2atXZixXbAnJ5czYJf3v89eoCk6E7ZRpfg3E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxaWdqZXBhb21neWtpYmtpa2x6Iiwicm9zZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzE1ODM5NCwiZXhwIjoyMDU4NzM0Mzk0fQ.1u9JqHsbzgr-abR7Q7AlLXeAC2cuwcwSnlAhidt-cqI